Package: org.thebigboss.screenshotfs
Name: Screenshot Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Take screenshot for Flipswitch.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)